{% extends "base.html" %}
{% block main %}
<main>
    <div class="hot-box">
        <div class="inner">
            <h2 class="title">热门试用</h2>
            <div class="slide-box">
                <a href="javascript:void(0)" class="prev">
                    <i class="fa fa-angle-left" style="font-size:58px;color:#dddddd"></i>
                </a>
                <a href="javascript:void(0)" class="next">
                    <i class="fa fa-angle-right" style="font-size:58px;color:#dddddd"></i>
                </a>
                <div class="hot">
                    <ul>
                        <li class="item1">
                            <a href="#" class="con">
                                <span class="top-tip sf">首发</span>
                                <img src="./static/img/hot1.jpg" alt="">
                                <h2 class="name">巴慕达 The Toaster 烤面包机</h2>
                                <p class="label">
                                    <span class="red">2000</span>
                                    <span class="red">20台</span>
                                </p>
                                <p class="sq"><span class="red">4312</span><span>申请</span></p>
                                <p class="current red">剩余时间2天</p>
                            </a>
                            <a href="#" class="con">
                                <span class="top-tip ty">体验师专享</span>
                                <img src="./static/img/hot2.jpg" alt="">
                                <h2 class="name">巴慕达 The Toaster 烤面包机</h2>
                                <p class="label">
                                    <span class="green">2000</span>
                                    <span class="green">20台</span>
                                </p>
                                <p class="sq"><span class="red">4312</span><span>申请</span></p>
                                <p class="current green">剩余时间2天</p>
                            </a>
                            <a href="#" class="con">
                                <span class="top-tip sf">首发</span>
                                <img src="./static/img/hot3.jpg" alt="">
                                <h2 class="name">巴慕达 The Toaster 烤面包机</h2>
                                <p class="label">
                                    <span class="red">2000</span>
                                    <span class="red">20台</span>
                                </p>
                                <p class="sq"><span class="red">4312</span><span>申请</span></p>
                                <p class="current red">剩余时间2天</p>
                            </a>
                            <a href="#" class="con" style="margin-right: 0;">
                                <span class="top-tip sf">首发</span>
                                <img src="./static/img/hot4.jpg" alt="">
                                <h2 class="name">巴慕达 The Toaster 烤面包机</h2>
                                <p class="label">
                                    <span class="red">2000</span>
                                    <span class="red">20台</span>
                                </p>
                                <p class="sq"><span class="red">4312</span><span>申请</span></p>
                                <p class="current red">剩余时间2天</p>
                            </a>
                        </li>
                        <li class="item2">
                            <a href="#" class="con">
                                <span class="top-tip sf">首发</span>
                                <img src="./static/img/hot5.jpg" alt="">
                                <h2 class="name">巴慕达 The Toaster 烤面包机</h2>
                                <p class="label">
                                    <span class="red">2000</span>
                                    <span class="red">20台</span>
                                </p>
                                <p class="sq"><span class="red">4312</span><span>申请</span></p>
                                <p class="current red">剩余时间2天</p>
                            </a>
                            <a href="#" class="con">
                                <span class="top-tip ty">体验师专享</span>
                                <img src="./static/img/hot6.jpg" alt="">
                                <h2 class="name">巴慕达 The Toaster 烤面包机</h2>
                                <p class="label">
                                    <span class="green">2000</span>
                                    <span class="green">20台</span>
                                </p>
                                <p class="sq"><span class="red">4312</span><span>申请</span></p>
                                <p class="current green">剩余时间2天</p>
                            </a>
                            <a href="#" class="con">
                                <span class="top-tip sf">首发</span>
                                <img src="./static/img/hot6.jpg" alt="">
                                <h2 class="name">巴慕达 The Toaster 烤面包机</h2>
                                <p class="label">
                                    <span class="red">2000</span>
                                    <span class="red">20台</span>
                                </p>
                                <p class="sq"><span class="red">4312</span><span>申请</span></p>
                                <p class="current red">剩余时间2天</p>
                            </a>
                            <a href="#" class="con" style="margin-right: 0;">
                                <span class="top-tip sf">首发</span>
                                <img src="./static/img/hot8.jpg" alt="">
                                <h2 class="name">巴慕达 The Toaster 烤面包机</h2>
                                <p class="label">
                                    <span class="red">2000</span>
                                    <span class="red">20台</span>
                                </p>
                                <p class="sq"><span class="red">4312</span><span>申请</span></p>
                                <p class="current red">剩余时间2天</p>
                            </a>
                        </li>
                        <li class="item3">
                            <a href="#" class="con">
                                <span class="top-tip sf">首发</span>
                                <img src="./static/img/hot9.jpg" alt="">
                                <h2 class="name">巴慕达 The Toaster 烤面包机</h2>
                                <p class="label">
                                    <span class="red">2000</span>
                                    <span class="red">20台</span>
                                </p>
                                <p class="sq"><span class="red">4312</span><span>申请</span></p>
                                <p class="current red">剩余时间2天</p>
                            </a>
                            <a href="#" class="con">
                                <span class="top-tip ty">体验师专享</span>
                                <img src="./static/img/hot10.jpg" alt="">
                                <h2 class="name">巴慕达 The Toaster 烤面包机</h2>
                                <p class="label">
                                    <span class="green">2000</span>
                                    <span class="green">20台</span>
                                </p>
                                <p class="sq"><span class="red">4312</span><span>申请</span></p>
                                <p class="current green">剩余时间2天</p>
                            </a>
                            <a href="#" class="con">
                                <span class="top-tip sf">首发</span>
                                <img src="./static/img/hot11.jpg" alt="">
                                <h2 class="name">巴慕达 The Toaster 烤面包机</h2>
                                <p class="label">
                                    <span class="red">2000</span>
                                    <span class="red">20台</span>
                                </p>
                                <p class="sq"><span class="red">4312</span><span>申请</span></p>
                                <p class="current red">剩余时间2天</p>
                            </a>
                            <a href="#" class="con" style="margin-right: 0;">
                                <span class="top-tip sf">首发</span>
                                <img src="./static/img/hot12.jpg" alt="">
                                <h2 class="name">巴慕达 The Toaster 烤面包机</h2>
                                <p class="label">
                                    <span class="red">2000</span>
                                    <span class="red">20台</span>
                                </p>
                                <p class="sq"><span class="red">4312</span><span>申请</span></p>
                                <p class="current red">剩余时间2天</p>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="report-box common">
        <div class="inner">
            <h2 class="title">
                报道精选
            </h2>
            <a href="#" class="more">查看更多</a>
            <i class="icon iconfont icon-caidanlan"></i>
            <ul>
                <li>
                    <img src="./static/img/bg1.jpg" alt="">
                    <div class="info">
                        <p class="name">空气净化器里面学问多的惊呆你，你选对了码?</p>
                        <div class="fix">
                            <span class="left nick">*苏苏</span>
                            <p class="right">
                                <span class="xin"><i class="fa fa-heart"></i> 3</span>
                                <span class="look"><i class="fa fa-comment"></i> 3</span>
                            </p>
                        </div>
                    </div>
                </li>
                <li>
                    <img src="./static/img/bg2.jpg" alt="">
                    <div class="info">
                        <p class="name">空气净化器里面学问多的惊呆你，你选对了码?</p>
                        <div class="fix">
                            <span class="left nick">*苏苏</span>
                            <p class="right">
                                <span class="xin"><i class="fa fa-heart"></i> 3</span>
                                <span class="look"><i class="fa fa-comment"></i> 3</span>
                            </p>
                        </div>
                    </div>
                </li>
                <li>
                    <img src="./static/img/bg3.jpg" alt="">
                    <div class="info">
                        <p class="name">空气净化器里面学问多的惊呆你，你选对了码?</p>
                        <div class="fix">
                            <span class="left nick">*苏苏</span>
                            <p class="right">
                                <span class="xin"><i class="fa fa-heart"></i> 3</span>
                                <span class="look"><i class="fa fa-comment"></i> 3</span>
                            </p>
                        </div>
                    </div>
                </li>
                <li>
                    <img src="./static/img/bg4.jpg" alt="">
                    <div class="info">
                        <p class="name">空气净化器里面学问多的惊呆你，你选对了码?</p>
                        <div class="fix">
                            <span class="left nick">*苏苏</span>
                            <p class="right">
                                <span class="xin"><i class="fa fa-heart"></i> 3</span>
                                <span class="look"><i class="fa fa-comment"></i> 3</span>
                            </p>
                        </div>
                    </div>
                </li>
                <li>
                    <img src="./static/img/bg5.jpg" alt="">
                    <div class="info">
                        <p class="name">空气净化器里面学问多的惊呆你，你选对了码?</p>
                        <div class="fix">
                            <span class="left nick">*苏苏</span>
                            <p class="right">
                                <span class="xin"><i class="fa fa-heart"></i> 3</span>
                                <span class="look"><i class="fa fa-comment"></i> 3</span>
                            </p>
                        </div>
                    </div>
                </li>
                <li>
                    <img src="./static/img/bg6.jpg" alt="">
                    <div class="info">
                        <p class="name">空气净化器里面学问多的惊呆你，你选对了码?</p>
                        <div class="fix">
                            <span class="left nick">*苏苏</span>
                            <p class="right">
                                <span class="xin"><i class="fa fa-heart"></i> 3</span>
                                <span class="look"><i class="fa fa-comment"></i> 3</span>
                            </p>
                        </div>
                    </div>
                </li>
                <li>
                    <img src="./static/img/bg7.jpg" alt="">
                    <div class="info">
                        <p class="name">空气净化器里面学问多的惊呆你，你选对了码?</p>
                        <div class="fix">
                            <span class="left nick">*苏苏</span>
                            <p class="right">
                                <span class="xin"><i class="fa fa-heart"></i> 3</span>
                                <span class="look"><i class="fa fa-comment"></i> 3</span>
                            </p>
                        </div>
                    </div>
                </li>
                <li>
                    <img src="./static/img/bg8.jpg" alt="">
                    <div class="info">
                        <p class="name">空气净化器里面学问多的惊呆你，你选对了码?</p>
                        <div class="fix">
                            <span class="left nick">苏苏</span>
                            <p class="right">
                                <span class="xin"><i class="fa fa-heart"></i> 3</span>
                                <span class="look"><i class="fa fa-comment"></i> 3</span>
                            </p>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <div class="guide common">
        <div class="inner">
            <h2 class="title">
                导购精选
            </h2>
            <a href="#" class="more">查看更多</a>
            <i class="icon iconfont icon-caidanlan"></i>
            <ul>
                <li>
                    <img src="./static/img/bg1.jpg" alt="">
                    <div class="info list">
                        <p class="name">空气净化器里面学问多的惊呆你，你选对了码?</p>
                        <div class="fix">
                            <p class="right">
                                <span class="xin"><i class="fa fa-heart"></i> 3</span>
                                <span class="look"><i class="fa fa-comment"></i> 3</span>
                            </p>
                        </div>
                    </div>
                </li>
                <li>
                    <img src="./static/img/bg2.jpg" alt="">
                    <div class="info list">
                        <p class="name">空气净化器里面学问多的惊呆你，你选对了码?</p>
                        <div class="fix">
                            <p class="right">
                                <span class="xin"><i class="fa fa-heart"></i> 3</span>
                                <span class="look"><i class="fa fa-comment"></i> 3</span>
                            </p>
                        </div>
                    </div>
                </li>
                <li>
                    <img src="./static/img/bg3.jpg" alt="">
                    <div class="info list">
                        <p class="name">空气净化器里面学问多的惊呆你，你选对了码?</p>
                        <div class="fix">
                            <p class="right">
                                <span class="xin"><i class="fa fa-heart"></i> 3</span>
                                <span class="look"><i class="fa fa-comment"></i> 3</span>
                            </p>
                        </div>
                    </div>
                </li>
                <li>
                    <img src="./static/img/bg4.jpg" alt="">
                    <div class="info list">
                        <p class="name">空气净化器里面学问多的惊呆你，你选对了码?</p>
                        <div class="fix">
                            <p class="right">
                                <span class="xin"><i class="fa fa-heart"></i> 3</span>
                                <span class="look"><i class="fa fa-comment"></i> 3</span>
                            </p>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>

    <div class="fx-box common">
        <div class="inner">
            <h2 class="title">
                发现酷玩
            </h2>
            <a href="#" class="more">查看更多</a>
            <i class="icon iconfont icon-caidanlan"></i>
            <ul>
                <li>
                    <img src="./static/img/bg1.jpg" alt="">
                    <div class="info">
                        <p class="name">空气净化器里面学问多的惊呆你，你选对了码?</p>
                        <div class="fix">
                            <span class="left price">￥1200</span>
                            <p class="right">
                                <span class="xin"><i class="fa fa-heart"></i> 3</span>
                                <span class="look"><i class="fa fa-comment"></i> 3</span>
                            </p>
                        </div>
                    </div>
                </li>
                <li>
                    <img src="./static/img/bg2.jpg" alt="">
                    <div class="info">
                        <p class="name">空气净化器里面学问多的惊呆你，你选对了码?</p>
                        <div class="fix">
                            <span class="left price">￥1200</span>
                            <p class="right">
                                <span class="xin"><i class="fa fa-heart"></i> 3</span>
                                <span class="look"><i class="fa fa-comment"></i> 3</span>
                            </p>
                        </div>
                    </div>
                </li>
                <li>
                    <img src="./static/img/bg3.jpg" alt="">
                    <div class="info">
                        <p class="name">空气净化器里面学问多的惊呆你，你选对了码?</p>
                        <div class="fix">
                            <span class="left price">￥1200</span>
                            <p class="right">
                                <span class="xin"><i class="fa fa-heart"></i> 3</span>
                                <span class="look"><i class="fa fa-comment"></i> 3</span>
                            </p>
                        </div>
                    </div>
                </li>
                <li>
                    <img src="./static/img/bg4.jpg" alt="">
                    <div class="info">
                        <p class="name">空气净化器里面学问多的惊呆你，你选对了码?</p>
                        <div class="fix">
                            <span class="left price">￥1200</span>
                            <p class="right">
                                <span class="xin"><i class="fa fa-heart"></i> 3</span>
                                <span class="look"><i class="fa fa-comment"></i> 3</span>
                            </p>
                        </div>
                    </div>
                </li>
                <li>
                    <img src="./static/img/bg5.jpg" alt="">
                    <div class="info">
                        <p class="name">空气净化器里面学问多的惊呆你，你选对了码?</p>
                        <div class="fix">
                            <span class="left price">￥1200</span>
                            <p class="right">
                                <span class="xin"><i class="fa fa-heart"></i> 3</span>
                                <span class="look"><i class="fa fa-comment"></i> 3</span>
                            </p>
                        </div>
                    </div>
                </li>
                <li>
                    <img src="./static/img/bg6.jpg" alt="">
                    <div class="info">
                        <p class="name">空气净化器里面学问多的惊呆你，你选对了码?</p>
                        <div class="fix">
                            <span class="left price">￥1200</span>
                            <p class="right">
                                <span class="xin"><i class="fa fa-heart"></i> 3</span>
                                <span class="look"><i class="fa fa-comment"></i> 3</span>
                            </p>
                        </div>
                    </div>
                </li>
                <li>
                    <img src="./static/img/bg7.jpg" alt="">
                    <div class="info">
                        <p class="name">空气净化器里面学问多的惊呆你，你选对了码?</p>
                        <div class="fix">
                            <span class="left price">￥1200</span>
                            <p class="right">
                                <span class="xin"><i class="fa fa-heart"></i> 3</span>
                                <span class="look"><i class="fa fa-comment"></i> 3</span>
                            </p>
                        </div>
                    </div>
                </li>
                <li>
                    <img src="./static/img/bg8.jpg" alt="">
                    <div class="info">
                        <p class="name">空气净化器里面学问多的惊呆你，你选对了码?</p>
                        <div class="fix">
                            <span class="left nick">苏苏</span>
                            <p class="right">
                                <span class="xin"><i class="fa fa-heart"></i> 3</span>
                                <span class="look"><i class="fa fa-comment"></i> 3</span>
                            </p>
                        </div>
                    </div>
                </li>
                <li>
                    <img src="./static/img/bg1.jpg" alt="">
                    <div class="info">
                        <p class="name">空气净化器里面学问多的惊呆你，你选对了码?</p>
                        <div class="fix">
                            <span class="left price">￥1200</span>
                            <p class="right">
                                <span class="xin"><i class="fa fa-heart"></i> 3</span>
                                <span class="look"><i class="fa fa-comment"></i> 3</span>
                            </p>
                        </div>
                    </div>
                </li>
                <li>
                    <img src="./static/img/bg2.jpg" alt="">
                    <div class="info">
                        <p class="name">空气净化器里面学问多的惊呆你，你选对了码?</p>
                        <div class="fix">
                            <span class="left price">￥1200</span>
                            <p class="right">
                                <span class="xin"><i class="fa fa-heart"></i> 3</span>
                                <span class="look"><i class="fa fa-comment"></i> 3</span>
                            </p>
                        </div>
                    </div>
                </li>
                <li>
                    <img src="./static/img/bg3.jpg" alt="">
                    <div class="info">
                        <p class="name">空气净化器里面学问多的惊呆你，你选对了码?</p>
                        <div class="fix">
                            <span class="left price">￥1200</span>
                            <p class="right">
                                <span class="xin"><i class="fa fa-heart"></i> 3</span>
                                <span class="look"><i class="fa fa-comment"></i> 3</span>
                            </p>
                        </div>
                    </div>
                </li>
                <li>
                    <img src="./static/img/bg4.jpg" alt="">
                    <div class="info">
                        <p class="name">空气净化器里面学问多的惊呆你，你选对了码?</p>
                        <div class="fix">
                            <span class="left price">￥1200</span>
                            <p class="right">
                                <span class="xin"><i class="fa fa-heart"></i> 3</span>
                                <span class="look"><i class="fa fa-comment"></i> 3</span>
                            </p>
                        </div>
                    </div>
                </li>
                <li>
                    <img src="./static/img/bg5.jpg" alt="">
                    <div class="info">
                        <p class="name">空气净化器里面学问多的惊呆你，你选对了码?</p>
                        <div class="fix">
                            <span class="left price">￥1200</span>
                            <p class="right">
                                <span class="xin"><i class="fa fa-heart"></i> 3</span>
                                <span class="look"><i class="fa fa-comment"></i> 3</span>
                            </p>
                        </div>
                    </div>
                </li>
                <li>
                    <img src="./static/img/bg6.jpg" alt="">
                    <div class="info">
                        <p class="name">空气净化器里面学问多的惊呆你，你选对了码?</p>
                        <div class="fix">
                            <span class="left price">￥1200</span>
                            <p class="right">
                                <span class="xin"><i class="fa fa-heart"></i> 3</span>
                                <span class="look"><i class="fa fa-comment"></i> 3</span>
                            </p>
                        </div>
                    </div>
                </li>
                <li>
                    <img src="./static/img/bg7.jpg" alt="">
                    <div class="info">
                        <p class="name">空气净化器里面学问多的惊呆你，你选对了码?</p>
                        <div class="fix">
                            <span class="left price">￥1200</span>
                            <p class="right">
                                <span class="xin"><i class="fa fa-heart"></i> 3</span>
                                <span class="look"><i class="fa fa-comment"></i> 3</span>
                            </p>
                        </div>
                    </div>
                </li>
                <li>
                    <img src="./static/img/bg8.jpg" alt="">
                    <div class="info">
                        <p class="name">空气净化器里面学问多的惊呆你，你选对了码?</p>
                        <div class="fix">
                            <span class="left price">￥1200</span>
                            <p class="right">
                                <span class="xin"><i class="fa fa-heart"></i> 3</span>
                                <span class="look"><i class="fa fa-comment"></i> 3</span>
                            </p>
                        </div>
                    </div>
                </li>
            </ul>
            <div class="more-button">
                <a href="javascript:void(0)" class="comMore cl">
                    点击加载更多
                    <i class="fa fa-angle-double-right"></i>
                </a>
            </div>
        </div>
    </div>
</main>
{% endblock %}
